html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
	width: 35%;
}

#footer {
  height: 3rem;  
  background-color: #1B3541;   
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;     /* Footer height */
}

/*.search-button {
	background-color: #1B3541;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}*/

.dropdown-section {
	width: 60%;
  margin: 5px 20% 0px 20%;
}

.box { 
  color: white;                /* text color is white */ 
  background: #1B3500;            /* Content, padding will be blue */
  margin: 40px 20% 40px 20%;
  padding: 40px 0px 40px 0px; /* Note 0px padding right */
  list-style: none             /* no glyphs before a list item */
                               /* No borders set */
}

.center {
  margin-left: 40%;
  margin-right: 40%;
}

p {
  text-align: center;
  padding: 10% 5%  10% 5%;  
}

.search-button {
  width: 60%;
  padding: 1% 0% 1% 0%; 
  margin: 10px 20% 10px 20%;
}

.home-button {
  width: 30%;
  padding: 1% 0% 1% 0%; 
  margin: 10px 35% 10px 35%;
}

.card {
  width: 60%;
  margin: 10px 20% 10px 20%;
}

.course-info {
  text-align: justify;
}